html, body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #635D5C;
}
h1 {
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
#navbar {
  display: flex;
  max-width: 1000px;
  height: 50px;
  margin: auto;
}
#nav-title {
  width: 66%;
  display: flex;
  align-items: center;
}
#nav-title h1 {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  color: #F5F5F5;
  font-family: 'Merriweather', monospace, sans-serif;
}
#nav-links-div {
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  color: #F5F5F5;
  text-decoration: none;
  padding: 10px 15px;
  font-family: 'Merriweather', monospace, sans-serif;
  font-size: 11pt;
}
/*
.nav-link:hover {
  background-color: rgba(28, 37, 65, 0.1);
  border-radius: 3px;
}
*/
#about {
  background-color: #4BA3C3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#welcome {
  margin: 0 auto;
  font-family: 'Merriweather', serif;
  color: #f5f5f5;
}
#about h1 {
  font-size: 5em;
  text-align: center;
  padding-bottom: 0.2em;
}
#welcome p {
  font-size: 2em;
  text-align: center;
  padding-top: 0.2em;
}
#projects {
  background-color: #F78E69;
}








footer {
  width: 100%;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #635D5C;
}
